.play {
  .gameFinished {
    z-index: 3;
  }

  .playsection {
    background-image: url("../../src/images/forest.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 95px);


    .gamegrid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      background-color: rgba(#000, .5);
      filter: drop-shadow(4px 4px 10px #000);
      min-height: 60vh;
      max-height: max-content;
      width: 50vw;
      margin: auto;
      padding: 2rem;
      border-radius: 8px;
      border: 1px solid var(--white);

      .header {
        display: flex;
      }

      .questions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 1rem;

        button {
          margin: 1rem !important;
          text-align: center !important;
          padding: .5rem !important;
        }
      }

      .submitcontainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0 0 0;
      }
    }
  }
}

.complete {
  width: 200px;
  align-self: center;
}

@media screen and (max-width: 1024px) and (min-height: 769px) and (max-height: 1368px) {
  .play {
    .playsection {
      .gamegrid {
        width: 75vw;
        min-height: 40vh;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .play {
    .playsection {
      .gamegrid {
        width: 90vw;
        min-height: 60vh;

        .questions {
          padding: 0;

          button {
            margin: .75rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .complete {
    width: 130px;
    align-self: center;
  }
}