#header {
  background-color: rgba(#000, .5);
  height: 45px;
  border-bottom: solid 2px rgba(#FFF, .8);
  filter: drop-shadow(4px 4px 10px #000);
  padding: unset;

  .dflex {
    display: flex;
    align-items: center;

    .firsttile {
      padding-left: 0.5rem;
    }

    .userpicture, .userstockpicture {
      width: 30px;
      height: 30px;
      margin-left: 0.5rem;
    }

    .userpicture {
      border-radius: 50%;
    }
  }

  #navbarCustomToggle {
    filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg);
  }

  #navbarCustomToggle:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: unset;
  }

  #scoreLink {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 820px) {
  #header {
    #navbarCustomCollapse {
      background-color: rgba(#000, .5);
      padding: 0.5rem 1rem;
    }
  }
}

@media screen and (max-width: 540px) {
  #header {
    .dflex {
      font-size: medium;
    }

    #scoreLink {
      display: unset;
      width: unset;
      justify-content: unset;
    }
  }
}

