#header {
  background-color: rgba(#000, .5);
  height: 45px;
  border-bottom: solid 2px rgba(#FFF, .8);
  filter: drop-shadow(4px 4px 10px #000);
  padding: unset;

  .dflex {
    display: flex;
    align-items: center;

    .firsttile {
      padding-left: 0.5rem;
    }

    .userpicture, .userstockpicture {
      width: 30px;
      height: 30px;
      margin-left: 0.5rem;
    }

    .userpicture {
      border-radius: 50%;
    }
  }

  #navbarCustomToggle {
    filter: invert(1) sepia(1) saturate(0) hue-rotate(0deg);
  }

  #navbarCustomToggle:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: unset;
  }

  #scoreLink, #scoreLinkGuest {
    display: flex;
    width: -webkit-fill-available;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 912px) {
  #header {
    z-index: 3;

    #navbarCustomCollapse {
      background-color: rgba(#000, .5);
      padding: 0.5rem 1rem;
    }

    #scoreLink {
      display: flex;
      width: calc(100% - 210px);
      align-items: flex-end;
    }

    #scoreLinkGuest {
      display: flex;
      width: calc(100% - 330px);
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 540px) {
  #header {
    .dflex {
      font-size: medium;
    }

    #scoreLinkGuest {
      display: flex;
      width: calc(100% - 287px);
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 375px) {
  #header {
    .dflex {
      font-size: small;
    }

    #scoreLinkGuest {
      font-size: small;
    }
  }
}
