.outcome {
  .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: auto;

    .imageContainer {
      .loseicon, .winicon {
        height: auto;
        margin: 1rem;
      }
    }

    .contentContainer {
      .text {
        text-align: left;
      }
    }

    .loseicon {
      border-radius: 50%;
      background-color: var(--white);
    }
  }
}