.section {
  display: flex;
  width: -webkit-fill-available;

  .selection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 1rem;

    .image {
      margin: 0 auto 20px;
      filter: drop-shadow(4px 4px 10px #000);
    }

    label {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 540px) {
  .section {
    flex-direction: column;
    width: 100%;

    .selection {
      width: unset;
    }
  }
}